.app{
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appContainer{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
}
.sidebarContianer{
    width: 10%;
}
.mainContainer{
    width: 90%;
}